/* You can add global styles to this file, and also import other style files */
.ng-doc-demo > * {
  display: grid;
  gap: 1em;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
}

.fancyTooltip {
  --ngxo-tooltip-background-color: #e85bc9;
  --ngxo-tooltip-text-color: #150db0;
  --ngxo-tooltip-offset: 0.1rem;
  --ngxo-tooltip-border-radius: 1rem;
  --ngxo-tooltip-border: none;
  --ngxo-tooltip-padding: 0.5rem 1rem;
  --ngxo-tooltip-margin: 0.5rem;
  --ngxo-tooltip-font: normal 1.5rem Comic Sans MS, sans-serif;
  --ngxo-tooltip-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  --ngxo-tooltip-transition: opacity 0.5s ease-in-out;
}
