/* You can add global styles to this file, and also import other style files */
@import 'highlight.js/styles/github.css';

body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
}

.main-layout {
  display: grid;
  grid-template-areas:
    'header header'
    'sidenav main';
  grid-template-rows: auto 1fr;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}

app-header {
  grid-area: header;
}

app-sidenav {
  grid-area: sidenav;
}

main {
  grid-area: main;
  overflow: auto;
  padding: 0 2em;
}

.demo button {
  margin-right: 1em;
}

.fancyTooltip {
  --ngxo-tooltip-background-color: #e85bc9;
  --ngxo-tooltip-text-color: #150db0;
  --ngxo-tooltip-border-radius: 1rem;
  --ngxo-tooltip-border: none;
  --ngxo-tooltip-padding: 0.5rem 1rem;
  --ngxo-tooltip-margin: 0;
  --ngxo-tooltip-font: normal 1.5rem Comic Sans MS, sans-serif;
  --ngxo-tooltip-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  --ngxo-tooltip-transition: opacity 0.5s ease-in-out;
}
